<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" id="MiniPublicTopTab">
  <tbody>
  <tr>
    <td>
      <div id="MiniPublicTop">
        <div id="miniLogo">
          <a href="#" target="_self"><%= image_tag "56891440.jpg", alt:"腾讯数码频道"%></a>
        </div>
        <div id="miniLink">
          <span><a href="#" target="_self" class="mLink">数码频道</a></span>
          <span><a href="#" target="_self" class="mLink">腾讯首页</a></span>
          <span><a href="#" target="_blank" class="mLink">手机腾讯网</a></span>
          <span class="mEnd"><a href="#" target="_blank" class="mLink">全站导航</a></span>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>


<a name="anchor1"></a>

  <div id="menu" class="menuTop">
    <%= image_tag "ad.jpg" %>
  </div>


<div class="a-box area">
  <div class="left" style="padding-top:15px">



    <div class="text-box clear">

      <div class="title-box"><span class="big-title STYLE2">已没有表达欲望</span></div>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;“没什么新观点要表达，该说的已经说完了。”曾经的话痨型twitter帐户，凡事都要理论个明白的Virushuo似乎隐退江湖了。不仅不上twitter，他坚持了8年的<a href="http://blog.devep.net/virushuo/" target="_blank" class="STYLE5">IT博客</a>也暂时不再更新，最新一篇<a href="http://blog.devep.net/virushuo/2011/12/25/post_82.html" target="_blank" class="STYLE5">《密码泄漏和黑天鹅事件》</a>写于2011年11月25日，那段时日CSDN、7K7K、天涯等多家网站用户密码库明文泄漏。
      </p>

      <p>&nbsp;&nbsp;&nbsp;&nbsp;虽然喜欢twitter，但一起争吵还是促使了Virushuo的离开。从CFido时代就开始上网的Virushuo说，惠多网时期的吵架跟现在不一样，那时会花几个小时认真写一封长信，发完之后隔天才能看到别人的回信，说是吵架，但大家更多是在说道理。即使你去骂人，围观群众也不会支持你。而现在互联网上的吵架是“比谁声音大，比谁损”。Virushuo笑着说，“你比损肯定比不过我们天津人，但这事儿有什么意思呢？对讨论一个问题毫无帮助。”</p>

      <p>
        <a href="#" target="_blank"><%= image_tag "80916154.jpg", alt:"Virushuo的网上人生", width:"715", height:"450", border:"0", class: "pic", style:"float:middle"%></a>
      </p>

      <p>&nbsp;&nbsp;&nbsp;&nbsp;他补充道：“我的Blog也是，夸奖Google，一帮人骂；现在说Google不太好了，又是一帮人骂。不管你说什么，都是一帮人骂。整个网络的气氛让人越来越没有发言的欲望。这个空间里不缺我的声音，所以还不如干点别的。”</p>

      <p>&nbsp;&nbsp;&nbsp;&nbsp;“对了，我又想起来一个小问题，其实我的blog不是不再更新，而是暂时没更新。”</p>

    </div>
    <div style="height:45px;"></div>
    <div class="text-box clear">

      <div class="title-box"><span class="big-title">投向Quora和reddit</span></div>

      <p>&nbsp;&nbsp;&nbsp;&nbsp;Virushuo觉得英文世界里好很多，不管多荒唐的观点人家都会跟你讲理，虽然也有上来就骂的，但并非主流。</p>

      <p>&nbsp;&nbsp;&nbsp;&nbsp;目前Virushuo主要参与的两个社区是Quora和reddit。Quora由两位Facebook前雇员创办，是一个问答社区，人们可以就共同感兴趣的话题讨论，而每个人都可以问出自己想问的问题，如果问题足够吸引人，会被越来越多的人回答，国内类似的网站有知乎。Virushuo说Quora虽然只有数万有效用户，但创造的知识价值很高。</p>

      <p>&nbsp;&nbsp;&nbsp;&nbsp;谈到Quora上的趣事，Virushuo说曾经有位年轻的英国Web前端工程师，经常用尖酸刻薄的语言回答问题，于是遭到越来越多其他用户的屏蔽，这些热心用户认为他不人道，称其为一个“冷酷无情的人”，甚至提议站方对其禁言。直到有一天这位英国用户自己提出问题：该不该禁言我？邀请了很多用户包括Virushuo去回答。当时持两方面观点的人都有，Virushuo的回答是：在我们中国，互联网上很多话是不能随便说的，本来以为在西方不是这样，在法律允许的范围内大家可以畅所欲言，但很惊讶的发现在Quora这种自由的社区竟然不是这样的。你可以不喜欢他，但不能不让他说话。作为中国人，我们体会到，不让人说话这种事一旦开始就会变得越来越坏。</p>

      <p>&nbsp;&nbsp;&nbsp;&nbsp;我问，那社区的最终讨论结果呢？Virushuo坏笑着说“没禁，他现在依然在发表一些令人讨厌的观点。” </p>

      <p>
        <a href="#" target="_blank"><%= image_tag "80916156.jpg", alt:"Virushuo的网上人生", width:"715", height:"450", border:"0", class: "pic", style:"float:middle"%></a>
      </p>

      <p>&nbsp;&nbsp;&nbsp;&nbsp;这让我想起Quora上另一则趣事，2012年1月有人提问：<a href="http://www.quora.com/Learning-Chinese-1/Why-do-so-many-Chinese-learners-seem-to-hate-Dashan-Mark-Rowswell" target="_blank" class="STYLE5">为什么如此多中文学习者讨厌大山？</a>并在备注里写道：他看上去是个不错的人，是不是他私下里吃小孩还是怎么的？这个问题在经过一番激烈讨论后终于得到大山本人回复，他说很早就关注了这个问题，但觉得让别人先回答比较好。他总结了几个原因：“大山”的加拿大人身份被滥用，让人反感；在中国生活的老外并非都像他这么顺利，而且他也并非中国话说得最好的外国人，于是被怨恨；作为西方人，他不够犀利；外国人-说中国话-逗中国人笑，被认为是马戏团的猴子，这点在何伟的《江城》一书里提出并未做解释。
      </p>

      <p>&nbsp;&nbsp;&nbsp;&nbsp;Virushuo说国外社区的讨论氛围比国内好，很多名人跑过来也不觉得自己“高人一等”，包括奥巴马、NASA工程师、色情片导演等，他们还得用各种方法证明自己的身份。而在微博上，很多名人跟你不会有交集。</p>

      <p>
        <a href="#" target="_blank"><%= image_tag "80916145.jpg", alt:"Virushuo的网上人生", width:"715", height:"450", border:"0", class: "pic", style:"float:middle"%></a>
      </p>

      <p>&nbsp;&nbsp;&nbsp;&nbsp;美国总统奥巴马就曾于2012年8月在reddit现身，在线回答网友提问，为此奥巴马总统还提供了两样证据：1.他认证twitter帐号发布的说明；2.一张他坐在电脑前打字的照片。</p>

      <p>&nbsp;&nbsp;&nbsp;&nbsp;Virushuo说，这种事在中国是不可想象的。</p>
    </div>
    <div style="height:45px;"></div>
    <div class="text-box clear">

      <div class="title-box"><span class="big-title">编程比做饭简单</span></div>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;由于上的是天津比较好的小学，Virushuo在二年级就有计算机课，那还是1987年，“不知道为什么，一看就特别喜欢”。Virushuo在小学时期参与了奥林匹克信息学竞赛，获得天津市二等奖，他说，一等奖就可以进国家队参加国际比赛。</p>

      <p>&nbsp;&nbsp;&nbsp;&nbsp;Virushuo的第一台电脑是上世纪九十年代初买的中华学习机，是天津无线电二厂山寨Apple
        II的产品，能干的也就写写程序。于是Virushuo在小学五、六年级就用6502汇编写了个屏幕的滚轴，可以做游戏了。</p>

      <p>
        <a href="#" target="_blank"><%= image_tag "80916149.jpg", alt:"Virushuo的网上人生", width:"715", height:"450", border:"0", class: "pic", style:"float:middle"%></a>
      </p>

      <p>&nbsp;&nbsp;&nbsp;&nbsp;而在大学期间，Virushuo参加大学生科研竞赛挑战杯，给学校写了套宿舍管理系统；大四时参与制作了一款仪表，用笔记本连接后可以测试手机信号分布，让电信运营商方便得出优化基站的方案，他写了其中的通信协议及解码器。Virushuo说通话质量不好可能由很多因素导致，不一定需要增加基站，他们的设备就能告诉运营商该如何调整。Virushuo靠这套设备卖了点钱，团队里的人就各干各事了。</p>

      <p>&nbsp;&nbsp;&nbsp;&nbsp;Virushuo此后一直从事互联网技术方面的工作，他觉得，编程比做饭简单。</p>

      <p>&nbsp;&nbsp;&nbsp;&nbsp;在Virushuo看来，编程是个确定性的事，而做饭却缺乏这种确定性。他说西餐会好一点，中餐则非常微妙。他在孔夫子旧书网买了不少文革前的老菜谱，不像现在的中餐菜谱配料表中经常出现“适量”、“少许”这种模糊字眼，那个年代的菜谱材料标量很清楚，但在实际操作中仍然会出问题。</p>

      <p>&nbsp;&nbsp;&nbsp;&nbsp;他举了做红烧肉炒糖色的例子：炒糖色是个技术活，得看颜色，即使你做一百次红烧肉，熟知正确做法流程，依然会因为一次不经意的走神而将糖色炒坏。而编程的错与对则相对确定，出了问题基本上是编程者搞错了。Virushuo说，曾经有位暴雪的工程师，非常确定编译器错了，写信给微软技术支持，人家很快给他回信说你程序这里写错了。第二次他又非常确定编译出来的东西有问题，最后发现确实是编译器有问题，但微软早已发布升级，而他还用的是老版本。</p>

      <p>&nbsp;&nbsp;&nbsp;&nbsp;Virushuo认为，写程序所有的bug其实都是人造成的，问题在于能不能找全。做饭很多因素是没办法精确衡量的，想做好很难，每一次重复都是人来重复，变量很多且没办法让机器操作，而软件领域却已发明了很多办法来降低出错率。</p>
    </div>
    <div style="height:45px;"></div>

  </div>
  <div class="right" style="padding-top:0">
  </div>
</div>
<div style="height:107px;"></div>

<div class="b-box">
  <div class="area">
    <div class="box">

      <h2 class="clear">本期嘉宾</h2>
      <ul class="list-box clear">
        <li>Virushuo<br>
          博客：<a href="http://blog.devep.net/virushuo/" target="_blank">http://blog.devep.net/virushuo/</a>
        </li>
      </ul>

      <h2 class="clear">联系《玩家》栏目组</h2>
      <ul class="list-box clear">
        <li>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody>
            <tr>
              <td>欢迎推荐有故事的数码玩家。<br>
                电话：010-62671042<br>
                微博：<a href="http://t.qq.com/geekdigi" target="_blank">http://t.qq.com/geekdigi</a><br>
                EMAIL：geekgeek#qq.com（发送时请把#改为@）
              </td>
              <td>
                <div align="center">扫一扫，用微信看玩家<br>
                  <%= image_tag "80916886.png", alt:"Virushuo的网上人生", width:"99", height:"99" %>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </li>
      </ul>
      <br><br>
    </div>
  </div>
</div>

<div class="c-box">
  <div class="area">
    <span class="t">制作团队：</span><span class="st">图文</span><span class="name"><a href="http://t.qq.com/xiasinet" target="_blank">夏思</a></span><span class="st">设计</span><span class="name">yt</span><span class="st">制作</span><span class="name"><a href="http://t.qq.com/miyamiya" target="_blank">miya</a></span><span class="st">监制</span><span class="name"><a href="http://t.qq.com/jeffewang" target="_blank">王炜炜</a></span>
  </div>
</div>

<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tbody>
  <tr>
    <td>
      <style>
          .tcopyright {
              width: 960px;
              margin: 0 auto;
              padding: 8px 0;
              font-size: 12px;
              line-height: 28px;
              color: #333;
              text-align: center;
              overflow: hidden;
              clear: both;
          }

          .tcopyright .en {
              font-family: Arial;
          }

          .tcopyright a {
              color: #333;
              text-decoration: none;
          }

          .tcopyright a:hover {
              color: #bd0a01;
              text-decoration: underline;
          }
      </style>
      <div id="tcopyright" class="tcopyright" bosszone="footer">
        <div>
          <a href="http://www.tencent.com/" rel="nofollow">关于腾讯 </a> |
          <a href="http://www.tencent.com/index_e.shtml" rel="nofollow">About Tencent</a> |
          <a href="http://www.qq.com/contract.shtml" rel="nofollow">服务条款</a> |
          <a href="http://open.qq.com/" rel="nofollow">开放平台</a> |
          <a href="http://www.tencentmind.com/" rel="nofollow">广告服务</a> |
          <a href="http://hr.tencent.com/" rel="nofollow">腾讯招聘</a> |
          <a href="http://gongyi.qq.com/" rel="nofollow">腾讯公益</a> |
          <a href="http://service.qq.com/" rel="nofollow">客服中心</a> |
          <a href="http://www.qq.com/map/" rel="nofollow">网站导航</a>
        </div>
        <div class="en">
          Copyright &#169; 1998 - 2012 Tencent. All Rights Reserved
          <a href="http://www.sznet110.gov.cn/netalarm/index.jsp" target="_blank" rel="nofollow"><img src="./Virushuo的网上人生_数码频道_腾讯网_files/footer.png" hspace="5" border="0" align="absmiddle"></a>
        </div>
        <div>

          腾讯公司
          <a href="http://www.tencent.com/zh-cn/le/copyrightstatement.shtml" target="_blank" rel="nofollow">版权所有</a>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>

<script>
    var $ = function (id) {
        return document.getElementById(id);
    }

    function reachBottom() {
        var btmHeight = "500";// 这里配置元素距页面底部的距离
        var scrollTop = 0;
        var clientHeight = 0;
        var scrollHeight = 0;
        if (document.documentElement && document.documentElement.scrollTop) {
            scrollTop = document.documentElement.scrollTop;
        } else if (document.body) {
            scrollTop = document.body.scrollTop;
        }

        if (document.body.clientHeight && document.documentElement.clientHeight) {
            clientHeight = (document.body.clientHeight < document.documentElement.clientHeight) ? document.body.clientHeight : document.documentElement.clientHeight;
        } else {
            clientHeight = (document.body.clientHeight > document.documentElement.clientHeight) ? document.body.clientHeight : document.documentElement.clientHeight;
        }
        scrollHeight = Math.max(document.body.scrollHeight, document.documentElement.scrollHeight);
        if (scrollHeight - (scrollTop + clientHeight) <= btmHeight) {
            return true;
        } else {
            return false;
        }
    }


    window.onscroll = function () {
        if (reachBottom() == true) {
            $("menu").className = "menuBtm";
            $("goTop").className = "goTop_btm";
        } else {
            $("menu").className = "menuTop";
            $("goTop").className = "goTop_top";
        }
    }
</script>

</body>
</html>